<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <a href="{% url 'index' %}">Inicio</a>  <a href="{% url 'adicionar' %}">Adicionar jogo</a>  <a href="{% url 'registrarpedido' %}">Registrar Pedido</a>  <a href="{% url 'pedidos' %}">Lista de pedidos</a>
<body>
    {% if messages %}
        <ul class="messages">
    {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
        </ul>
    {% endif %}
    <h1>Jogos Disponíveis:</h1>
    {% for jogo in jogos %}
    <h2>
        {% if jogo.imagem %}
            <a href="{% url 'details' jogo.id %}"><img src="{{ jogo.imagem.url }}" alt="{{ jogo.nome }}"></a>
            <br>
        {% endif %}
        <a href="{% url 'details' jogo.id %}">{{ jogo.nome }}</a>
        <a href="{% url 'editar_jogo' jogo.id %}" style="margin-left: 10px; color: blue;">Editar</a>
    </h2>
    <p>Preço: {{jogo.preço}}</p>
    <hr>
    {% endfor %}
</body>
</html>